fastapi==0.115.11
langchain_anthropic==0.3.8
langchain_core==0.3.40
langchain_postgres==0.0.13
passlib==1.7.4
pinecone==6.0.1
psycopg==3.2.5
pydantic==2.10.6
PyJWT==2.10.1
python-dotenv==1.0.1
SQLAlchemy==2.0.38
bcrypt==4.0.1
